body {
  margin:0px;
  background-color:rgba(215, 215, 215, 1);
  background-image:url('../../images/pageditpersbuscada/bg.jpg');
  background-position:center center;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:60px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1376px;
  height:70px;
}
#u2 {
  position:absolute;
  left:2px;
  top:22px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
}
#u3 {
  position:absolute;
  left:40px;
  top:0px;
  width:130px;
  height:60px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:60px;
}
#u4 {
  position:absolute;
  left:2px;
  top:22px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:508px;
  top:570px;
  width:175px;
  height:40px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:50px;
}
#u6 {
  position:absolute;
  left:2px;
  top:10px;
  width:171px;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:60px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1376px;
  height:70px;
}
#u10 {
  position:absolute;
  left:2px;
  top:22px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
}
#u11 {
  position:absolute;
  left:40px;
  top:0px;
  width:130px;
  height:60px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:60px;
}
#u12 {
  position:absolute;
  left:2px;
  top:22px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:0px;
  top:30px;
  width:30px;
  height:30px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:0px;
  top:60px;
  visibility:hidden;
}
#u15_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u15_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:320px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:330px;
}
#u17 {
  position:absolute;
  left:2px;
  top:152px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
}
#u18 {
  position:absolute;
  left:38px;
  top:30px;
}
#u18_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u18_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:32px;
  font-family:'Arial Narrow Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:25px;
  color:#FF9900;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:32px;
}
#u20 {
  position:absolute;
  left:0px;
  top:2px;
  width:123px;
  word-wrap:break-word;
}
#u18_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u18_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:32px;
  font-family:'Arial Narrow Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:25px;
  text-decoration:underline;
  color:#FF9900;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:32px;
}
#u22 {
  position:absolute;
  left:0px;
  top:2px;
  width:123px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:38px;
  top:72px;
}
#u23_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u23_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:32px;
  font-family:'Arial Narrow Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:25px;
  color:#FF9900;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:32px;
}
#u25 {
  position:absolute;
  left:0px;
  top:2px;
  width:123px;
  word-wrap:break-word;
}
#u23_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u23_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:32px;
  font-family:'Arial Narrow Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:25px;
  text-decoration:underline;
  color:#FF9900;
  text-align:center;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:32px;
}
#u27 {
  position:absolute;
  left:0px;
  top:2px;
  width:123px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:38px;
  top:114px;
}
#u28_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u28_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:32px;
  font-family:'Arial Narrow Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:25px;
  color:#FF9900;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:32px;
}
#u30 {
  position:absolute;
  left:0px;
  top:2px;
  width:123px;
  word-wrap:break-word;
}
#u28_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u28_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:32px;
  font-family:'Arial Narrow Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:25px;
  text-decoration:underline;
  color:#FF9900;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:32px;
}
#u32 {
  position:absolute;
  left:0px;
  top:2px;
  width:123px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:38px;
  top:156px;
}
#u33_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u33_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:32px;
  font-family:'Arial Narrow Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:25px;
  color:#FF9900;
  text-align:center;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:32px;
}
#u35 {
  position:absolute;
  left:0px;
  top:2px;
  width:123px;
  word-wrap:break-word;
}
#u33_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u33_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:32px;
  font-family:'Arial Narrow Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:25px;
  text-decoration:underline;
  color:#FF9900;
  text-align:center;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:32px;
}
#u37 {
  position:absolute;
  left:0px;
  top:2px;
  width:123px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:38px;
  top:198px;
}
#u38_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u38_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:32px;
  font-family:'Arial Narrow Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:25px;
  color:#FF9900;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:32px;
}
#u40 {
  position:absolute;
  left:0px;
  top:2px;
  width:123px;
  word-wrap:break-word;
}
#u38_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u38_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:32px;
  font-family:'Arial Narrow Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:25px;
  text-decoration:underline;
  color:#FF9900;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:32px;
}
#u42 {
  position:absolute;
  left:0px;
  top:2px;
  width:123px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:20px;
  top:240px;
  width:150px;
  height:32px;
  overflow:hidden;
}
#u43_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:32px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u43_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:32px;
  font-family:'Arial Narrow Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:25px;
  color:#FF9900;
  text-align:center;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:32px;
}
#u45 {
  position:absolute;
  left:0px;
  top:2px;
  width:150px;
  word-wrap:break-word;
}
#u43_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:32px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u43_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:32px;
  font-family:'Arial Narrow Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:25px;
  text-decoration:underline;
  color:#FF9900;
  text-align:center;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:32px;
}
#u47 {
  position:absolute;
  left:0px;
  top:2px;
  width:150px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:960px;
  top:0px;
  width:400px;
  height:35px;
}
#u48_input {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:35px;
  background-color:#003333;
  font-family:'Arial Negrita', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#FF9900;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u49 {
  position:absolute;
  left:890px;
  top:25px;
  width:476px;
  height:10px;
}
#u49_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u49_end {
  position:absolute;
  left:459px;
  top:-5px;
  width:18px;
  height:20px;
}
#u49_line {
  position:absolute;
  left:0px;
  top:4px;
  width:476px;
  height:3px;
}
#u50 {
  position:absolute;
  left:1180px;
  top:35px;
  width:100px;
  height:17px;
  font-size:15px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:17px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:1019px;
  top:35px;
  width:101px;
  height:17px;
  font-size:15px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:17px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:800px;
  top:62px;
  visibility:hidden;
}
#u54_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u54_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  height:210px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:220px;
}
#u56 {
  position:absolute;
  left:2px;
  top:97px;
  width:547px;
  visibility:hidden;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
}
#u57 {
  position:absolute;
  left:70px;
  top:19px;
  width:185px;
  height:22px;
  overflow:hidden;
}
#u57_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:22px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u57_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:22px;
  font-size:18px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:22px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u57_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:22px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u57_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:22px;
  font-size:18px;
  text-decoration:underline;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:22px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:278px;
  top:19px;
  width:174px;
  height:22px;
  overflow:hidden;
}
#u62_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:22px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u62_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:22px;
  font-size:18px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:22px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  white-space:nowrap;
}
#u62_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:22px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u62_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:22px;
  font-size:18px;
  text-decoration:underline;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:22px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:45px;
  top:67px;
  width:210px;
  height:22px;
  overflow:hidden;
}
#u67_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:22px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u67_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:22px;
  font-size:18px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:22px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  white-space:nowrap;
}
#u67_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:22px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u67_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:22px;
  font-size:18px;
  text-decoration:underline;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:22px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:278px;
  top:67px;
  width:232px;
  height:22px;
  overflow:hidden;
}
#u72_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:22px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u72_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:22px;
  font-size:18px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:22px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  white-space:nowrap;
}
#u72_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:22px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u72_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:22px;
  font-size:18px;
  text-decoration:underline;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:22px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:30px;
  top:108px;
  width:225px;
  height:22px;
  overflow:hidden;
}
#u77_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:22px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u77_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:22px;
  font-size:18px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:22px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u77_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:22px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u77_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:22px;
  font-size:18px;
  text-decoration:underline;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:22px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:278px;
  top:108px;
  width:242px;
  height:22px;
  overflow:hidden;
}
#u82_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:22px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u82_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u83 {
  position:absolute;
  left:-3px;
  top:0px;
  width:243px;
  height:22px;
  font-size:18px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:22px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  word-wrap:break-word;
}
#u82_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:22px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u82_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u85 {
  position:absolute;
  left:-4px;
  top:0px;
  width:244px;
  height:22px;
  font-size:18px;
  text-decoration:underline;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:22px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:30px;
  top:158px;
  width:225px;
  height:22px;
  overflow:hidden;
}
#u87_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:22px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u87_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:22px;
  font-size:18px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:22px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u87_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:22px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u87_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:22px;
  font-size:18px;
  text-decoration:underline;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:22px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:278px;
  top:158px;
  width:225px;
  height:22px;
  overflow:hidden;
}
#u92_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:22px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u92_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:22px;
  font-size:18px;
  text-align:left;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:22px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u92_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:22px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u92_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:22px;
  font-size:18px;
  text-decoration:underline;
  text-align:left;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:22px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:710px;
  top:570px;
  width:180px;
  height:40px;
  font-size:16px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:50px;
}
#u98 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
}
#u99 {
  position:absolute;
  left:180px;
  top:220px;
  width:430px;
  height:290px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:300px;
}
#u100 {
  position:absolute;
  left:2px;
  top:137px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
}
#u101 {
  position:absolute;
  left:800px;
  top:220px;
  width:430px;
  height:290px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:300px;
}
#u102 {
  position:absolute;
  left:2px;
  top:137px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
}
#u103 {
  position:absolute;
  left:470px;
  top:110px;
  width:440px;
  height:70px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:80px;
}
#u104 {
  position:absolute;
  left:2px;
  top:27px;
  width:436px;
  visibility:hidden;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
}
#u105 {
  position:absolute;
  left:220px;
  top:180px;
  width:350px;
  height:60px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:70px;
}
#u106 {
  position:absolute;
  left:2px;
  top:22px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
}
#u107 {
  position:absolute;
  left:272px;
  top:196px;
  width:245px;
  height:24px;
  font-size:20px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:24px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:840px;
  top:180px;
  width:350px;
  height:60px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:70px;
}
#u110 {
  position:absolute;
  left:2px;
  top:22px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
}
#u111 {
  position:absolute;
  left:932px;
  top:198px;
  width:165px;
  height:24px;
  font-size:20px;
  text-align:center;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:24px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:490px;
  top:133px;
  width:400px;
  height:24px;
  font-size:20px;
  text-align:center;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:24px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:190px;
  top:324px;
  width:100px;
  height:16px;
}
#u116 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u115_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u117 {
  position:absolute;
  left:190px;
  top:350px;
  width:100px;
  height:16px;
}
#u118 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u117_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u119 {
  position:absolute;
  left:190px;
  top:376px;
  width:100px;
  height:16px;
}
#u120 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u119_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u121 {
  position:absolute;
  left:190px;
  top:402px;
  width:100px;
  height:16px;
}
#u122 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u121_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u123 {
  position:absolute;
  left:190px;
  top:428px;
  width:100px;
  height:16px;
}
#u124 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u123_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u125 {
  position:absolute;
  left:450px;
  top:429px;
  width:100px;
  height:16px;
}
#u126 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u125_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u127 {
  position:absolute;
  left:320px;
  top:273px;
  width:100px;
  height:16px;
}
#u128 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u127_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u129 {
  position:absolute;
  left:320px;
  top:299px;
  width:100px;
  height:16px;
}
#u130 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u129_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u131 {
  position:absolute;
  left:320px;
  top:325px;
  width:100px;
  height:16px;
}
#u132 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u131_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u133 {
  position:absolute;
  left:320px;
  top:351px;
  width:110px;
  height:16px;
}
#u134 {
  position:absolute;
  left:16px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u133_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u135 {
  position:absolute;
  left:320px;
  top:377px;
  width:100px;
  height:16px;
}
#u136 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u135_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u137 {
  position:absolute;
  left:320px;
  top:403px;
  width:100px;
  height:16px;
}
#u138 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u137_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u139 {
  position:absolute;
  left:320px;
  top:429px;
  width:100px;
  height:16px;
}
#u140 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u139_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u141 {
  position:absolute;
  left:450px;
  top:403px;
  width:100px;
  height:16px;
}
#u142 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u141_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u143 {
  position:absolute;
  left:450px;
  top:273px;
  width:100px;
  height:16px;
}
#u144 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u143_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u145 {
  position:absolute;
  left:450px;
  top:299px;
  width:100px;
  height:16px;
}
#u146 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u145_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u147 {
  position:absolute;
  left:450px;
  top:325px;
  width:100px;
  height:16px;
}
#u148 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u147_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u149 {
  position:absolute;
  left:450px;
  top:351px;
  width:100px;
  height:16px;
}
#u150 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u149_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u151 {
  position:absolute;
  left:450px;
  top:377px;
  width:100px;
  height:16px;
}
#u152 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u151_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u153 {
  position:absolute;
  left:450px;
  top:455px;
  width:100px;
  height:16px;
}
#u154 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u153_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u155 {
  position:absolute;
  left:830px;
  top:273px;
  width:100px;
  height:16px;
}
#u156 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u155_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u157 {
  position:absolute;
  left:830px;
  top:299px;
  width:100px;
  height:16px;
}
#u158 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u157_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u159 {
  position:absolute;
  left:830px;
  top:325px;
  width:100px;
  height:16px;
}
#u160 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u159_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u161 {
  position:absolute;
  left:830px;
  top:351px;
  width:100px;
  height:16px;
}
#u162 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u161_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u163 {
  position:absolute;
  left:830px;
  top:377px;
  width:100px;
  height:16px;
}
#u164 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u163_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u165 {
  position:absolute;
  left:830px;
  top:403px;
  width:100px;
  height:16px;
}
#u166 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u165_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u167 {
  position:absolute;
  left:830px;
  top:429px;
  width:100px;
  height:16px;
}
#u168 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u167_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u169 {
  position:absolute;
  left:950px;
  top:273px;
  width:100px;
  height:16px;
}
#u170 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u169_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u171 {
  position:absolute;
  left:950px;
  top:299px;
  width:120px;
  height:16px;
}
#u172 {
  position:absolute;
  left:16px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u171_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u173 {
  position:absolute;
  left:950px;
  top:325px;
  width:130px;
  height:16px;
}
#u174 {
  position:absolute;
  left:16px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u173_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u175 {
  position:absolute;
  left:950px;
  top:351px;
  width:100px;
  height:16px;
}
#u176 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u175_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u177 {
  position:absolute;
  left:950px;
  top:377px;
  width:130px;
  height:16px;
}
#u178 {
  position:absolute;
  left:16px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u177_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u179 {
  position:absolute;
  left:950px;
  top:403px;
  width:100px;
  height:16px;
}
#u180 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u179_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u181 {
  position:absolute;
  left:950px;
  top:429px;
  width:100px;
  height:16px;
}
#u182 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u181_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u183 {
  position:absolute;
  left:1090px;
  top:273px;
  width:100px;
  height:16px;
}
#u184 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u183_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u185 {
  position:absolute;
  left:1090px;
  top:299px;
  width:100px;
  height:16px;
}
#u186 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u185_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u187 {
  position:absolute;
  left:1090px;
  top:325px;
  width:100px;
  height:16px;
}
#u188 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u187_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u189 {
  position:absolute;
  left:1090px;
  top:351px;
  width:100px;
  height:16px;
}
#u190 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u189_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u191 {
  position:absolute;
  left:1090px;
  top:377px;
  width:100px;
  height:16px;
}
#u192 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u191_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u193 {
  position:absolute;
  left:1090px;
  top:403px;
  width:100px;
  height:16px;
}
#u194 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u193_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u195 {
  position:absolute;
  left:1090px;
  top:429px;
  width:100px;
  height:16px;
}
#u196 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u195_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u197 {
  position:absolute;
  left:1090px;
  top:455px;
  width:100px;
  height:16px;
}
#u198 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u197_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u199 {
  position:absolute;
  left:190px;
  top:272px;
  width:100px;
  height:16px;
}
#u200 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u199_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u201 {
  position:absolute;
  left:190px;
  top:298px;
  width:100px;
  height:16px;
}
#u202 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u201_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
body.a {  background-color:rgba(215, 215, 215, 1);
  background-image:url('../../images/pageditpersbuscada/bg.jpg');
  background-position:center center;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:60px;
}
#u1.a {
}
#u3.a {
}
#u5.a {
}
#u7.a {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:380px;
}
#u8.a {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:60px;
}
#u9.a {
}
#u11.a {
}
#u13.a {
}
#u13_img.a {
}
#u14.a {
}
#u15.a {
  position:absolute;
  left:0px;
  top:60px;
}
#u16.a {
}
#u18.a {
  position:absolute;
  left:38px;
  top:30px;
}
#u19.a {
}
#u21.a {
}
#u23.a {
  position:absolute;
  left:38px;
  top:72px;
}
#u24.a {
}
#u26.a {
}
#u28.a {
  position:absolute;
  left:38px;
  top:114px;
}
#u29.a {
}
#u31.a {
}
#u33.a {
  position:absolute;
  left:38px;
  top:156px;
}
#u34.a {
}
#u36.a {
}
#u38.a {
  position:absolute;
  left:38px;
  top:198px;
}
#u39.a {
}
#u41.a {
}
#u43.a {
  position:absolute;
  left:20px;
  top:240px;
  width:150px;
  height:32px;
}
#u44.a {
}
#u46.a {
}
#u43_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u43_state1.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u48.a {
  position:absolute;
  left:960px;
  top:0px;
  width:400px;
  height:35px;
}
#u48_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:35px;
  background-color:#003333;
  font-family:'Arial Negrita', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#FF9900;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u49.a {
}
#u49_start.a {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u49_end.a {
  position:absolute;
  left:459px;
  top:-5px;
  width:18px;
  height:20px;
}
#u49_line.a {
  position:absolute;
  left:0px;
  top:4px;
  width:476px;
  height:3px;
}
#u50.a {
  left:1196px;
  top:38px;
}
#u50_img.a {
}
#u51.a {
}
#u52.a {
  left:1036px;
  top:38px;
}
#u52_img.a {
}
#u53.a {
}
#u54.a {
  position:absolute;
  left:800px;
  top:62px;
}
#u55.a {
}
#u57.a {
  position:absolute;
  left:70px;
  top:19px;
  width:185px;
  height:22px;
}
#u58.a {
}
#u58_img.a {
}
#u59.a {
}
#u60.a {
}
#u60_img.a {
}
#u61.a {
}
#u57_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u57_state1.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u62.a {
  position:absolute;
  left:278px;
  top:19px;
  width:178px;
  height:22px;
}
#u63.a {
}
#u63_img.a {
}
#u64.a {
}
#u65.a {
}
#u65_img.a {
}
#u66.a {
}
#u62_state0.a {
  width:178px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u62_state1.a {
  width:178px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u67.a {
  position:absolute;
  left:45px;
  top:67px;
  width:210px;
  height:22px;
}
#u68.a {
}
#u68_img.a {
}
#u69.a {
}
#u70.a {
}
#u70_img.a {
}
#u71.a {
}
#u67_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u67_state1.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u72.a {
  position:absolute;
  left:278px;
  top:67px;
  width:232px;
  height:22px;
}
#u73.a {
}
#u73_img.a {
}
#u74.a {
}
#u75.a {
}
#u75_img.a {
}
#u76.a {
}
#u72_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u72_state1.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u77.a {
  position:absolute;
  left:30px;
  top:108px;
  width:225px;
  height:22px;
}
#u78.a {
}
#u80.a {
}
#u77_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u77_state1.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u82.a {
  position:absolute;
  left:278px;
  top:108px;
  width:242px;
  height:22px;
}
#u83.a {
}
#u85.a {
}
#u82_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u82_state1.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u87.a {
  position:absolute;
  left:30px;
  top:158px;
  width:225px;
  height:22px;
}
#u88.a {
}
#u90.a {
}
#u87_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u87_state1.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u92.a {
  position:absolute;
  left:278px;
  top:158px;
  width:225px;
  height:22px;
}
#u93.a {
}
#u95.a {
}
#u92_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u92_state1.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u97.a {
}
#u99.a {
}
#u101.a {
}
#u103.a {
}
#u105.a {
}
#u107.a {
}
#u109.a {
}
#u111.a {
}
#u113.a {
}
#u115.a {
}
#u115_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u116.a {
}
#u117.a {
}
#u117_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u118.a {
}
#u119.a {
}
#u119_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u120.a {
}
#u121.a {
}
#u121_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u122.a {
}
#u123.a {
}
#u123_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u124.a {
}
#u125.a {
}
#u125_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u126.a {
}
#u127.a {
}
#u127_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u128.a {
}
#u129.a {
}
#u129_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u130.a {
}
#u131.a {
}
#u131_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u132.a {
}
#u133.a {
}
#u133_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u134.a {
}
#u135.a {
}
#u135_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u136.a {
}
#u137.a {
}
#u137_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u138.a {
}
#u139.a {
}
#u139_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u140.a {
}
#u141.a {
}
#u141_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u142.a {
}
#u143.a {
}
#u143_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u144.a {
}
#u145.a {
}
#u145_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u146.a {
}
#u147.a {
}
#u147_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u148.a {
}
#u149.a {
}
#u149_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u150.a {
}
#u151.a {
}
#u151_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u152.a {
}
#u153.a {
}
#u153_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u154.a {
}
#u155.a {
}
#u155_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u156.a {
}
#u157.a {
}
#u157_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u158.a {
}
#u159.a {
}
#u159_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u160.a {
}
#u161.a {
}
#u161_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u162.a {
}
#u163.a {
}
#u163_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u164.a {
}
#u165.a {
}
#u165_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u166.a {
}
#u167.a {
}
#u167_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u168.a {
}
#u169.a {
}
#u169_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u170.a {
}
#u171.a {
}
#u171_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u172.a {
}
#u173.a {
}
#u173_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u174.a {
}
#u175.a {
}
#u175_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u176.a {
}
#u177.a {
}
#u177_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u178.a {
}
#u179.a {
}
#u179_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u180.a {
}
#u181.a {
}
#u181_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u182.a {
}
#u183.a {
}
#u183_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u184.a {
}
#u185.a {
}
#u185_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u186.a {
}
#u187.a {
}
#u187_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u188.a {
}
#u189.a {
}
#u189_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u190.a {
}
#u191.a {
}
#u191_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u192.a {
}
#u193.a {
}
#u193_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u194.a {
}
#u195.a {
}
#u195_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u196.a {
}
#u197.a {
}
#u197_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u198.a {
}
#u199.a {
}
#u199_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u200.a {
}
#u201.a {
}
#u201_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u202.a {
}
