body {
  margin:0px;
  background-image:url('../../images/pag_registro/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:60px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1376px;
  height:70px;
}
#u2 {
  position:absolute;
  left:2px;
  top:22px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
}
#u3 {
  position:absolute;
  left:40px;
  top:0px;
  width:130px;
  height:60px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:60px;
}
#u4 {
  position:absolute;
  left:2px;
  top:22px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:200px;
  top:304px;
  width:180px;
  height:22px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5_input:disabled {
  color:grayText;
}
#u6 {
  position:absolute;
  left:360px;
  top:470px;
  width:200px;
  height:40px;
  font-size:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
}
#u7 {
  background: #e8c433;
background-image: -webkit-linear-gradient(top, #e8c433, #2980b9);
background-image: -moz-linear-gradient(top, #e8c433, #2980b9);
background-image: -ms-linear-gradient(top, #e8c433, #2980b9);
background-image: -o-linear-gradient(top, #e8c433, #2980b9);
background-image: linear-gradient(to bottom, #e8c433, #2980b9);
-webkit-border-radius: 20;
-moz-border-radius: 20;
border-radius: 20px;
font-family: Arial;
color: #0a090a;
font-size: 21px;
padding: 10px 20px 10px 20px;
border: solid #184866 1px;
text-decoration: none;
}
#u8 {
  position:absolute;
  left:70px;
  top:200px;
  width:110px;
  height:20px;
  text-align:right;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:20px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:40px;
  top:230px;
  width:140px;
  height:20px;
  text-align:right;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:20px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:200px;
  top:190px;
  width:180px;
  height:25px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13 {
  position:absolute;
  left:200px;
  top:225px;
  width:180px;
  height:25px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u14 {
  position:absolute;
  left:70px;
  top:304px;
  width:110px;
  height:20px;
  text-align:right;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:20px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:70px;
  top:354px;
  width:110px;
  height:20px;
  text-align:right;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:20px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:200px;
  top:355px;
  width:180px;
  height:25px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19 {
  position:absolute;
  left:20px;
  top:389px;
  width:170px;
  height:40px;
  text-align:right;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:450px;
  top:195px;
  width:110px;
  height:20px;
  text-align:right;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:20px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:200px;
  top:390px;
  width:180px;
  height:25px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u24 {
  position:absolute;
  left:570px;
  top:190px;
  width:180px;
  height:25px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u25 {
  position:absolute;
  left:450px;
  top:238px;
  width:110px;
  height:20px;
  text-align:right;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:20px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:570px;
  top:235px;
  width:180px;
  height:25px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u28 {
  position:absolute;
  left:80px;
  top:134px;
  width:970px;
  height:26px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:970px;
  height:26px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:970px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:570px;
  top:294px;
  width:160px;
  height:22px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u30_input:disabled {
  color:grayText;
}
#u31 {
  position:absolute;
  left:570px;
  top:328px;
  width:160px;
  height:22px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u31_input:disabled {
  color:grayText;
}
#u32 {
  position:absolute;
  left:570px;
  top:328px;
  width:160px;
  height:22px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u32_input:disabled {
  color:grayText;
}
#u33 {
  position:absolute;
  left:570px;
  top:328px;
  width:160px;
  height:22px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u33_input:disabled {
  color:grayText;
}
#u34 {
  position:absolute;
  left:450px;
  top:294px;
  width:110px;
  height:20px;
  text-align:right;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:20px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:20px;
  top:260px;
  width:160px;
  height:20px;
  text-align:right;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:20px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:200px;
  top:260px;
  width:180px;
  height:25px;
}
#u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u39 {
  position:absolute;
  left:450px;
  top:330px;
  width:110px;
  height:20px;
  text-align:right;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:20px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:url('../../images/pag_registro/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:60px;
}
#u1.a {
}
#u3.a {
}
#u5.a {
  position:absolute;
  left:200px;
  top:304px;
  width:180px;
  height:22px;
}
#u5_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6.a {
}
#u8.a {
}
#u10.a {
}
#u12.a {
  position:absolute;
  left:200px;
  top:190px;
  width:180px;
  height:25px;
}
#u12_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13.a {
  position:absolute;
  left:200px;
  top:225px;
  width:180px;
  height:25px;
}
#u13_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u14.a {
}
#u16.a {
}
#u18.a {
  position:absolute;
  left:200px;
  top:355px;
  width:180px;
  height:25px;
}
#u18_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19.a {
}
#u21.a {
}
#u23.a {
  position:absolute;
  left:200px;
  top:390px;
  width:180px;
  height:25px;
}
#u23_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u24.a {
  position:absolute;
  left:570px;
  top:190px;
  width:180px;
  height:25px;
}
#u24_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u25.a {
}
#u27.a {
  position:absolute;
  left:570px;
  top:235px;
  width:180px;
  height:25px;
}
#u27_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u28.a {
}
#u30.a {
  position:absolute;
  left:570px;
  top:294px;
  width:160px;
  height:22px;
}
#u30_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u31.a {
  position:absolute;
  left:570px;
  top:328px;
  width:160px;
  height:22px;
}
#u31_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u32.a {
  position:absolute;
  left:570px;
  top:328px;
  width:160px;
  height:22px;
}
#u32_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u33.a {
  position:absolute;
  left:570px;
  top:328px;
  width:160px;
  height:22px;
}
#u33_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u34.a {
}
#u36.a {
}
#u38.a {
  position:absolute;
  left:200px;
  top:260px;
  width:180px;
  height:25px;
}
#u38_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u39.a {
}
