body {
  margin:0px;
  background-image:url('../../images/index/bg.jpg');
  background-position:center center;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:230px;
  top:145px;
  width:200px;
  height:25px;
}
#u0_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1 {
  position:absolute;
  left:230px;
  top:215px;
  width:200px;
  height:25px;
}
#u1_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2 {
  position:absolute;
  left:78px;
  top:145px;
  width:132px;
  height:25px;
  font-size:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:25px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:78px;
  top:215px;
  width:132px;
  height:25px;
  font-size:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:25px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:230px;
  top:290px;
}
#u6_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u6_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7 {
  position:absolute;
  background: #e8c433;
  background-image: -webkit-linear-gradient(top, #e8c433, #2980b9);
  background-image: -moz-linear-gradient(top, #e8c433, #2980b9);
  background-image: -ms-linear-gradient(top, #e8c433, #2980b9);
  background-image: -o-linear-gradient(top, #e8c433, #2980b9);
  background-image: linear-gradient(to bottom, #e8c433, #2980b9);
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  font-family: Arial;
  color: #0a090a;
  font-size: 21px;
  padding: 10px 20px 10px 20px;
  border: solid #184866 1px;
  text-decoration: none;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:50px;
}
#u8 {
  position:absolute;
  left:2px;
  top:8px;
  width:166px;
  word-wrap:break-word;
}
#u6_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u6_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
  font-family:'Arial Negrita', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:50px;
}
#u10 {
  position:absolute;
  left:2px;
  top:8px;
  width:166px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:230px;
  top:340px;
}
#u11_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u11_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12 {
  background: #e8c433;
  background-image: -webkit-linear-gradient(top, #e8c433, #2980b9);
  background-image: -moz-linear-gradient(top, #e8c433, #2980b9);
  background-image: -ms-linear-gradient(top, #e8c433, #2980b9);
  background-image: -o-linear-gradient(top, #e8c433, #2980b9);
  background-image: linear-gradient(to bottom, #e8c433, #2980b9);
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  font-family: Arial;
  color: #0a090a;
  font-size: 21px;
  padding: 10px 20px 10px 20px;
  border: solid #184866 1px;
  text-decoration: none;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:50px;
}
#u13 {
  position:absolute;
  left:2px;
  top:8px;
  width:166px;
  word-wrap:break-word;
}
#u11_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u11_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
  font-family:'Arial Negrita', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:50px;
}
#u15 {
  position:absolute;
  left:2px;
  top:8px;
  width:166px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:60px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1376px;
  height:70px;
}
#u18 {
  position:absolute;
  left:2px;
  top:22px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
}
#u19 {
  position:absolute;
  left:40px;
  top:0px;
  width:130px;
  height:60px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:60px;
}
#u20 {
  position:absolute;
  left:2px;
  top:22px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:url('../../images/index/bg.jpg');
  background-position:center center;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
  position:absolute;
  left:230px;
  top:145px;
  width:200px;
  height:25px;
}
#u0_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1.a {
  position:absolute;
  left:230px;
  top:215px;
  width:200px;
  height:25px;
}
#u1_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2.a {
}
#u4.a {
}
#u6.a {
  position:absolute;
  left:230px;
  top:290px;
}
#u7.a {
}
#u9.a {
}
#u11.a {
  position:absolute;
  left:230px;
  top:340px;
}
#u12.a {
}
#u14.a {
}
#u16.a {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:60px;
}
#u17.a {
}
#u19.a {
}
