body {
  margin:0px;
  background-color:rgba(215, 215, 215, 1);
  background-image:url('../../images/pagpersonabuscada/bg.jpg');
  background-position:center center;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:60px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1376px;
  height:70px;
}
#u2 {
  position:absolute;
  left:2px;
  top:22px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
}
#u3 {
  position:absolute;
  left:40px;
  top:0px;
  width:130px;
  height:60px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:60px;
}
#u4 {
  position:absolute;
  left:2px;
  top:22px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:160px;
  top:280px;
  width:430px;
  height:250px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:260px;
}
#u6 {
  position:absolute;
  left:2px;
  top:117px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
}
#u7 {
  position:absolute;
  left:780px;
  top:280px;
  width:430px;
  height:250px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:260px;
}
#u8 {
  position:absolute;
  left:2px;
  top:117px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
}
#u9 {
  position:absolute;
  left:615px;
  top:590px;
  width:165px;
  height:40px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:50px;
}
#u10 {
  position:absolute;
  left:2px;
  top:10px;
  width:161px;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
}
#u11 {
  position:absolute;
  left:445px;
  top:170px;
  width:440px;
  height:70px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:80px;
}
#u12 {
  position:absolute;
  left:2px;
  top:27px;
  width:436px;
  visibility:hidden;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
}
#u13 {
  position:absolute;
  left:1050px;
  top:394px;
  width:100px;
  height:22px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u13_input:disabled {
  color:grayText;
}
#u14 {
  position:absolute;
  left:830px;
  top:394px;
  width:100px;
  height:22px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u14_input:disabled {
  color:grayText;
}
#u15 {
  position:absolute;
  left:830px;
  top:350px;
  width:100px;
  height:24px;
  font-size:20px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:1050px;
  top:345px;
  width:100px;
  height:24px;
  font-size:20px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:200px;
  top:240px;
  width:350px;
  height:60px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:70px;
}
#u20 {
  position:absolute;
  left:2px;
  top:22px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
}
#u21 {
  position:absolute;
  left:252px;
  top:256px;
  width:245px;
  height:24px;
  font-size:20px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:24px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:820px;
  top:240px;
  width:350px;
  height:60px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:70px;
}
#u24 {
  position:absolute;
  left:2px;
  top:22px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
}
#u25 {
  position:absolute;
  left:912px;
  top:258px;
  width:165px;
  height:24px;
  font-size:20px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:24px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:536px;
  top:193px;
  width:297px;
  height:24px;
  font-size:20px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:24px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:290px;
  top:364px;
  width:100px;
  height:19px;
}
#u30 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u29_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u31 {
  position:absolute;
  left:290px;
  top:393px;
  width:100px;
  height:19px;
}
#u32 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u31_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u33 {
  position:absolute;
  left:290px;
  top:427px;
  width:143px;
  height:19px;
}
#u34 {
  position:absolute;
  left:16px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u33_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
body.a {  background-color:rgba(215, 215, 215, 1);
  background-image:url('../../images/pagpersonabuscada/bg.jpg');
  background-position:center center;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:60px;
}
#u1.a {
}
#u3.a {
}
#u5.a {
}
#u7.a {
}
#u9.a {
}
#u11.a {
}
#u13.a {
  position:absolute;
  left:1050px;
  top:394px;
  width:100px;
  height:22px;
}
#u13_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u14.a {
  position:absolute;
  left:830px;
  top:394px;
  width:100px;
  height:22px;
}
#u14_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u15.a {
}
#u17.a {
}
#u19.a {
}
#u21.a {
}
#u23.a {
}
#u25.a {
}
#u27.a {
}
#u29.a {
}
#u29_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u30.a {
}
#u31.a {
}
#u31_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u32.a {
}
#u33.a {
}
#u33_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u34.a {
}
